<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>The Team</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link href="https://fonts.cdnfonts.com/css/mount-royal-demo" rel="stylesheet" />

    <link rel="stylesheet" href="style.css" />
</head>

<script src="https://www.w3schools.com/lib/w3.js"></script>

<body>

    <!-- Navigation (Stays on Top) -->
    <div class="w3-top w3-bar w3-indigo">
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <a href="about.html" class="w3-bar-item w3-button">About</a>
        <a href="members.html" class="w3-bar-item w3-button">Members</a>
        <a href="contact.html" class="w3-bar-item w3-button">Contact</a>
    </div>

    <!-- Start Content -->
    <div id="home" class="w3-content w3-padding-top-48">

        <div id="log">
            Log:
            {{#each log}}
            {{@key}} - {{this}}
            <br />
            {{/each}}
        </div>


        <div class="w3-container">
    <h2>Message List</h2>
    {{#each objlog}}
    <ul class="w3-ul w3-card-4">
      <li class="w3-bar">
        <div class="w3-bar-item">
          <span class="w3-large">{{this.name}}</span><br>
          <span>Email: {{this.email}}</span><br>
          <span>Timestamp: {{this.timestamp}}</span><br>
          <span>Message:{{this.message}}</span>
        </div>
      </li>
      {{/each}}
     
      <!-- Add more list items for additional messages -->
    </ul>
  </div>
        <!-- End Content -->
    </div>

</body>

</html>